@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

:root {
  --background-color: #262626;
  --square-width: 40px;
  --square-border-width: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Orbitron', sans-serif;
}

.main {
  width: 960px;
  margin: auto;
  padding-top: 10vh;
  text-align: center;
  color: whitesmoke;
}

.site-title {
  margin-bottom: 2rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--square-width) * 3 + var(--square-border-width) * 2);;
  margin: auto;
  border: var(--square-border-width) solid;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-top-color: #808080;
  border-left-color: #808080;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: var(--square-width);
  height: var(--square-width);
  background-color: #c0c0c0;
  border: var(--square-border-width) solid;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  user-select: none;
  font-size: 1.8rem;
  color: #0034ff;
}

.square.opened {
  background-color: #c0c0c0;
  border: 2px solid #8b8b8b;
}

.square.number-1 {
  color: #0034ff;
}

.square.number-2 {
  color: #007f00;
}

.square.number-3 {
  color: #ff1b01;
}

.square.bomb {
  background-color: #ff1b01;
  background-image: url("./img/bomb-solid.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
