.main {
  width: 960px;
  margin: auto;
  padding-top: 10vh;
  text-align: center;
  color: whitesmoke;
}

.siteTitle {
  margin-bottom: 2rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--square-width) * 5 + var(--square-border-width) * 2);;
  margin: auto;
  border: var(--square-border-width) solid;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-top-color: #808080;
  border-left-color: #808080;
}
