@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

:root {
  --background-color: #262626;
  --square-width: 40px;
  --square-border-width: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
